.button {
    border: .025rem solid var(--secondary);
    padding: 10px 20px;
    border-radius: 50px;
    width: fit-content;
}

@media (min-width: 576px) {
    .button {
        font-size: 1.15rem;
    }
}

.button:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--primary);
}

