.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: min(100%, 500px);
}

.items {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.wrong {
    color: var(--wrong);
    font-size: .85rem;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
    letter-spacing: .05rem;
}

.visible {
    opacity: 100%;
    pointer-events: auto;
}

@media (min-width: 768px) {
    .many {
        width: min(100%, 1500px);
    }

    .many .items {
        align-items: center;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}