.inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.introContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    line-height: 150%;
    font-size: 2.5rem !important;
    font-weight: 100;
}

.heading span {
    background: linear-gradient(to right, rgba(255, 200, 200), rgba(200, 200, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: difference;
}

.description {
    width: min(100%, 725px);
    letter-spacing: .05rem;
    font-size: 1.25rem;
}

@media (min-width: 576px) {
    .heading {
        font-size: 3.5rem !important;
    }
}

@media (min-width: 768px) {
    .introContent {
        gap: 30px;
    }

    .heading {
        font-size: 4.5rem !important;
    }

}

@media (min-width: 992px) {
    .inner {
        gap: 200px;
    }

    .introContent {
        gap: 50px;
    }

    .heading {
        font-size: 5.5rem !important;
    }
}

@media (min-width: 1200px) {
    .introContent {
        gap: 50px;
    }

    .heading {
        font-size: 6.5rem !important;
    }
}