.nav {
    position: fixed;
    top: -5000px;
    right: 0;
    background: linear-gradient(to top, rgba(200, 250, 255, .5), rgba(200, 200, 255, .5));
    backdrop-filter: blur(50px);
    z-index: 45;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 50px 0;
}

@media (min-width: 768px) {
    .nav {
        width: min(100%, 580px);
    }
}

.visible {
    top: 0;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuIconWrapper {
    cursor: pointer;
}

.menuIconWrapper:hover {
    filter: invert(25%);
}

.menuIconWrapper_color_primary {
    z-index: 50;
    top: 25px;
    right: 15px;
    position: fixed;
}

@media (min-width: 992px) {
    .nav {
        position: static;
        background: none;
        min-height: fit-content;
        padding: 0;
        justify-content: space-between;
        width: fit-content;
        gap: 50px;
    }

    .list {
        width: fit-content;
        flex-direction: row;
        gap: 35px;
    }

    .menuIconWrapper {
        display: none;
    }
}