.nav {
    position: fixed;
    top: -5000px;
    right: 0;
    background: linear-gradient(to top, rgba(200, 250, 255, .5), rgba(200, 200, 255, .5));
    backdrop-filter: blur(50px);
    z-index: 300;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}

.desktop {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background: var(--transparent-primary-500);
    opacity: 0;
    pointer-events: none;
}

.visible + .overlay {
    opacity: 100%;
    z-index: 250;
    pointer-events: auto;
}

.mobile {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 50px 25px;
}

.mobile hr {
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    background: var(--transparent-primary-500);
}

.buttons li {
    width: fit-content;
}

@media (min-width: 768px) {
    .nav {
        width: min(100%, 580px);
    }
}

.visible {
    top: 0;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.iconWrapper {
    cursor: pointer;
    width: 25px;
    height: 25px;
    aspect-ratio: 1 / 1;
}

.iconWrapper:hover svg {
    fill: var(--accent);
}

.menuIconWrapper_color_primary {
    z-index: 350;
    top: 25px;
    right: 15px;
    position: fixed;
}

@media (min-width: 992px) {
    .nav {
        position: static;
        background: none;
        min-height: fit-content;
        padding: 0;
        justify-content: space-between;
        width: fit-content;
        gap: 50px;
        flex-direction: row;
    }

    .buttons {
        background: none;
    }

    .desktop {
        display: block;
    }

    .divider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile {
        display: none;
    }

    .list {
        width: fit-content;
        flex-direction: row;
        gap: 35px;
    }

    .menuIconWrapper {
        display: none;
    }
}