.overlay {
    position: absolute;
    width: 100%;
    background: linear-gradient(to bottom, rgba(200, 200, 255, .95), rgba(255, 100, 120, .95));
    /* background: linear-gradient(to bottom, rgba(200, 200, 255, .95), rgba(255, 150, 100, .75)); */
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 350;
    opacity: 100%;
    transition: var(--transition);
}

.container {
    display: flex;
    padding: 50px 10px;
    flex-direction: column;
    gap: 50px;
    width: min(100%, 1200px);
    overflow: auto hidden;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: max(700px, 100%);
}

.results * {
    color: #050505;
}

.values {
    display: flex;
    width: 100%;
    background: rgba(100, 100, 100, .5);
    padding: 10px;
}

.values > div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values:nth-child(1) > div {
    font-size: 15px;
}

.close {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 400;
    background: var(--transparent-primary-950);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: var(--transition);
}

.close:hover {
    filter: invert(100%);
}

.label {
    display: flex;
    align-items: center;
    gap: 25px;
}

.input {
    color: #050505;
    border-bottom: .025rem solid #050505;
    padding: 15px 10px;
    font-size: 25px;
}

.hidden {
    top: -7500px;
    left: -500px;
}

.empty {
    font-size: 2.15rem;
    font-weight: 300;
    padding: 50px 0;
    color: rgba(50, 50, 50, .75);
}

@media (min-width: 768px) {
    .empty {
        font-size: 4.5rem;
        text-align: center;
    }

    .container {
        padding-inline: 20px;
    }
}