.overlay {
    position: absolute;
    width: 100%;
/* background: linear-gradient(to bottom, rgba(200, 200, 255, .95), rgba(255, 150, 100, .95)); */
    background: linear-gradient(to bottom, rgba(25, 25, 25, .95), rgba(200, 200, 255, .75));
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 50;
    opacity: 100%;
    transition: 200ms all ease-in-out;

}

.container {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    gap: 50px;
    width: max(500px, min(100%, 1200px));
}

.results {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.results * {
    color: var(--primary);
}

.values {
    display: flex;
    width: 100%;
    background: rgba(100, 100, 100, .5);
    padding: 10px;
}

.values > div {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values:nth-child(1) > div {
    font-size: 15px;
}

.close {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 55;
    background: var(--transparent-primary-950);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: var(--transition);
}

.close:hover {
    filter: invert(100%);
}

.label {
    display: flex;
    align-items: center;
    gap: 25px;
}

.input {
    color: var(--primary);
    border-bottom: .025rem solid var(--primary);
    padding: 15px 10px;
    font-size: 25px;
}

.hidden {
    top: -50000px;
    left: -500px;
}