.results {
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* background: var(--transparent-primary-100); */
}

.input {
    padding: 10px 0;
    border-bottom: .025rem solid var(--secondary);
}

.input:focus {
    border-color: var(--accent);
}

.stats {
    padding: 50px 0;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 300px;
}

.item {
    border-bottom: .025rem solid var(--secondary);
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 300;
    width: fit-content;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    height: fit-content;
}

.item:hover {
    padding-bottom: 15px;
    color: var(--accent);
    border-color: var(--accent);
}

@media (min-width: 768px) {
    .input {
        font-size: 2.25rem;
    }
}

@media (min-width: 992px) {
    .results {
        padding: 50px 0 100px;
    }

    .column {
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
    }
}