.wrapper {
    background: linear-gradient(90deg, rgba(200, 200, 250, .15), rgba(200, 250, 255, .15));
    min-height: 100vh;
    overflow: hidden;
}

.scrollable {
    overflow: initial;
}

.main {
    margin-top: 60px;
}